on early-init
   setprop ro.sf.lcd_density 320

on init

on early-fs

on fs

on post-fs

on post-fs-data

on early-boot
	write /sys/bus/platform/drivers/huawei,altek6045/firmware /system/miniisp/
	service HwCamCfgSvr /system/bin/HwCamCfgSvr hi3635 MOZART
	class main
	user media
	group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm system

on boot
   setprop hw.lcd.density 320
